
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

 header {
     position: sticky;
     top: 0;
     width: 100%;
     height: 45px;
     background-color: white;
 }

 .header {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: row;
 }

 .container {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     width: 20%;
     height: 45px;
 }

 .logo-box {
     display: flex;
     justify-content: right;
     background-color: white;
     width: 50%;
     height: 45px;
     align-items: center;
 }

 .button-box {
     padding-left: 20px;
     display: flex;
     background-color: white;
     width: 50%;
     height: 45px;
     align-items: center;
     text-align: center;
 }

 .button-box a {
     padding-left: 29px;
     text-decoration: none;
     color: black; 
 }

 .button-box a:hover {
     color: #56A7B1;

 }

 .button-box:hover {
     background-color: rgb(86, 167, 177, 0.5);
 }

.currency {
    float: right;
    margin-right:  20px;
    display: flex;
    background-color: transparent;
    width: 6%;
    height: 45px;
    align-items: center;
    text-align: center;
}
.currency a {
    padding-left: 9px;
    text-decoration: none;
    color: black; 
    cursor: pointer;
    padding: 10px;
    border: none;
    font: lighter;
    float: right;
    font-size: 15px;
}

.currency a:hover {
    color: #56A7B1;
}


 .logo-box:hover {
        background-color: rgb(86, 167, 177, 0.5);
 }

 #logo {
     margin-right: 10%;

     
 }

 #navbar1 {
     display: block;
     overflow: hidden;
     width: 100%;
     height: 50px;
     background-color: transparent;
     float: left;
 }   

 #navbar1:hover {
     background-color: white;
 }

       
 #navbar1 a {
     color: black;
     display: inline-block;
     padding: 15px 20px;
     text-decoration: none;
     font-weight: 500;
    }

    #navbar1 a:hover {
        border-bottom: #56A7B1 solid 6px;
        color: #56A7B1;
    }

    section {
        background-image: url(ribice.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin: auto;
        width: 100%;
        overflow: hidden;
        height: 1080px;
    }

    

    .headline1 {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 800px;

    }

    .headline {
        font-family: Arial, Helvetica, sans-serif;
        font: italic large lighter;
        text-decoration: none;
        font-size: 60px;
        font-weight: lighter;
        word-spacing: 60px;
        letter-spacing: 5px;
        color: rgb(0, 0, 0, 0.9);
    }

    .content-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 12%;
        justify-content: space-around;
        margin: 0 auto;
        overflow: hidden;
        height: 800px;
        background-color: transparent;
        padding-left: 10px;
        padding-right: 10px;
        
    }

    .main-title {
        position: absolute;
        text-align: center;
        align-items: center;
        padding-top: 1%;
        height: 50px;
        width: 100%;
    }

    .img1 {
        width: 400px; 
       height: 700px;
    }

    .img1:hover {
        cursor: pointer;
    } 

     figcaption h1 {
        margin-top: 6px;
        font: lighter;
        font-style: normal;
        font-size: 20px;
        font-weight: normal;
        color: rgb(0, 0, 0, 0.6);
        letter-spacing: 2px;
     }
     hr {
         width: 300px;
     }

     figcaption p {
         font: lighter;
         font-style: normal;
         color: rgb(0, 0, 0, 0.8);
        

     }

     figcaption h1:hover {
        color: #56A7B1;
        cursor: pointer;

     }



     .content-wrap {
         position: relative;
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: space-between;
         max-width: 1200px;
         margin: 0 auto;
         padding: 0px 60px;
         overflow: hidden;
         height: 400px;
         background-color: transparent;
        }


        .wrapper {
            position: absolute;
            height: 400px;
            width: 100%;
            background-color:rgb(67, 167, 170, 0.3);
        }

    .col1 {
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 300px;
        background-color: transparent;
        margin-top: 15%;
       
        }

        .tevlevdesign {
            font-family: Arial, Helvetica, sans-serif;
            font: lighter;
            font-style: normal;
            letter-spacing: .1em;
            text-transform: uppercase;
            margin-top: 10px;
            font-size: 19px;
            color: rgb(0, 0, 0, 0.6);
            padding-bottom: 12px;
            
        }

        .tevlevdesign:hover {
            color: #56A7B1;
        }

        hr {
            color: rgb(0, 0, 0, 0.6);
        }

        .subtitle {
            padding-top: 10px;
            font: lighter;
            font-style: normal;
            font-size: 30px;
            font-weight: normal;
        }

        .col2 {
            width: 45%;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: center;
            margin-top: 2%;
        }
        .subtitle2 {
            margin-top: 10%;
            font: lighter;
            font-style: normal;
            font-size: 30px;
            font-weight: normal;
            color: rgb(0, 0, 0, 0.6);

        }

        .subtitle2:hover {
            color: #56A7B1;
        }

        p {
            padding-top: 10%;
            font: lighter;
            font-style: normal;
            font-size: 20px;
            text-align: left;
            line-height: 28px;
        }

        .content-container {
            margin-top:400px; 
            position: relative;
            width: 100%;
            height: 700px;
            background-color: white;
        }

        .main-title1 {
            position: relative;
            text-align: center;
            align-items: center;
            padding-top: 1%;
            height: 50px;
            width: 100%;
        }

        .squares {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            overflow: hidden;
            height: 700px;
            background-color: transparent;
        }

        .square1 {
            background: rgb(86, 167, 177, 0.4);
            height: 500px;
            position: absolute;
            transition: transform 0.8s;
            width: 400px;
            margin: 10px;
            text-align: center;
          }
          
          .square2 {
            height: 500px;
            transition: transform 0.8s;
            position: absolute;
            width: 400px;
            margin: 10px;
          }
            .square2:hover {
                transform: translate(30px, 40px);
                cursor: pointer;
            
          }

          .square-box {
              padding-top: 100px;
              margin-right: 400px;
          }


          .container-height {
            position: relative;
            width: 100%;
            height: 800px;
            background-color: white;

          }


          .content-box1 {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                margin: 0 auto;
                overflow: hidden;
                height: 800px;
                background-color: transparent;
                padding-left: 10px;
                padding-right: 10px;
                
            }

        .footer {
            position: absolute;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 auto;
            overflow: hidden;
            height: 300px;
            width: 100%;
            background-color:rgb(67, 167, 170, 0.3);
            text-align: center;
            padding: 0px 200px;
            padding-top: 30px;
        }

        ul {
            padding-top: 40px;
            text-align: center;
            list-style-type: none;

        }
        li {
            padding-top: 10px;
            color:  rgb(0, 0, 0, 0.7);
            font-size: larger;
        }

        .social-button {
            display: flex;
            flex-direction: row;
            padding-top: 50px;
        }


        .social-buttons {
            background: rgb(86, 167, 177);
            border: none;
            color: rgb(0, 0, 0, 0.7);
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            font: lighter;
            font-style: normal;
            letter-spacing: .1em;
            text-transform: uppercase;
            border-radius: 40px;

        }

        .social-buttons:hover {
            color: rgb(255, 255, 255);

        }

        #button1:hover {
            background-color: #3B5998;
        }

        #button2:hover {
            background-color: #c13584;
        }

        #button3:hover {
            background-color:#38A1F3;
        }

        ul a {
            text-decoration: none;
            padding-top: 10px;
            color:  rgb(0, 0, 0, 0.7);
        }

        ul a:hover {
            color: #56A7B1;

        }

        @media all and (max-width: 800px) and (min-width: 300px){
            .squares {
                height: 2500px;
                flex-direction: column;
            }

            @media all and (max-width: 800px) and (min-width: 300px){
                .content-box {
                    height: 2500px;
                    flex-direction: column;
                }

                @media all and (max-width: 800px) and (min-width: 300px){
                    .content-box1 {
                        height: 2500px;
                        flex-direction: column;
                    }

                    @media all and (max-width: 800px) and (min-width: 300px){
                        .footer {
                            flex-direction: column;
                            height: 1000px;
                        }
